<div class="header-search-tools header-search-tools__container">
    <div class="header-extra-tools__item __search-form">
      <form action="{{ routes.search_url }}">
        <input
          type="text"
          placeholder="Search products, brands or recipes"
          name="q"
          value="{{ search.terms | escape }}">
        <input type="submit" value="Search">
        <span class="__search-icon">
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 17.6953C13.866 17.6953 17 14.5613 17 10.6953C17 6.82932 13.866 3.69531 10 3.69531C6.13401 3.69531 3 6.82932 3 10.6953C3 14.5613 6.13401 17.6953 10 17.6953Z"
              stroke="#F05123"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round" />
            <path
              d="M15 15.6953L21 21.6953"
              stroke="#F05123"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </form>
    </div>
</div>