<div class="mini-cart mini-cart--container">
  <div class="mini-cart__inner">
    <div class="mini-cart__header">
      <h3>Cart</h3>
      <span class="__count">1 item</span>
    </div>
    <div class="mini-cart__items">
      {%- render 'cart-items' -%}
    </div>
  </div>
</div>
<!-- .mini-cart -->