<div class="__p-price">
  {% if product.available %}
    {% for variant in product.variants %}
        <label class="variant-item-price">
          <span class="variant-price--title">{{ variant.title }}</span> 
          <span class="variant-price--price">
            {% if variant.compare_at_price %}
              <price-money><bdi>{{ variant.compare_at_price | money }}</bdi></price-money>
            {% endif %}
            {{  variant.price | money}}
          </span>
        </label>
    {% endfor %}
  {% else %}
    <span class="__sold-out">{{ 'products.product.sold_out' | t }}</span>
  {% endif %}
</div>
<!-- .__p-price -->