.card {
  display: block;
  overflow: hidden;
  text-decoration: none;
  border-radius: var(--card-radius);
}


.card.card--soft {
  background-color: rgba(var(--color-foreground), 0.08);
  color: rgb(var(--color-foreground));
}

.card__text {
  display: flex;
  align-items: center;
}

.card .icon-arrow {
  width: 1.5rem;
  height: 1.5rem;
}

.card .icon-wrap {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.card--media {
  display: block;
  text-decoration: none;
}

.card--text .media--adapt {
  padding-bottom: 100%;
}

.card--product,
.card--page {
  box-sizing: border-box;
  position: relative;
  overflow: visible;
  border: var(--card-border-width) solid rgb(var(--color-border));
  box-shadow: var(--card-shadow-horizontal-offset) var(--card-shadow-vertical-offset) rgba(var(--color-shadow), var(--shadow-opacity));
}


.card--outline {
  border: 0.1rem solid rgb(var(--color-border));
}

.card__text-spacing {
  padding: 3rem;
}

.card-colored {
  background-color: rgba(var(--color-foreground), 0.08);
}

.card--media .card__text-spacing {
  padding: 1.5rem 2rem;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: rgb(var(--color-background));
  --color-link: var(--color-background);
  --color-border: var(--color-background);
  --color-heading: var(--color-background);
  --color-price: currentColor;
}

.card--media .card__text-spacing::after {
  content: '';
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(var(--color-foreground), 0.46) 0, transparent 40%, transparent 100%);
}

@media screen and (min-width: 750px) {
  .card--media .card__text-spacing {
    padding: 2rem 3rem;
  }
}

.card--media .card__text-spacing>div {
  display: flex;
  flex-direction: column-reverse;
}

.card-information>*+* {
  margin-top: 0.5rem;
}

.card--product+.card-information>*+* {
  margin-top: 0;
}

.card--text .card__media {
  width: 100%;
  height: 100%;
}

.card__content>* {
  margin: 0;
}

.card--text .card__content,
.card--text:not(.card--product)+.card-information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
}

@media screen and (min-width: 750px) {

  .card--text .card__content,
  .card--text:not(.card--product)+.card-information {
    padding: 2rem 3rem;
  }
}

.card--text .media:empty {
  display: block;
}

.card__text-spacing>* {
  margin: 0;
}

.card__text-spacing>*:not(.overlay-card)+* {
  margin-top: 1.5rem;
}

.card__text {
  margin: 0;
  word-break: break-word;
}

.card--text .card__text {
  text-align: center;
}

.card-information__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 120% !important;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: #F05123;
  margin-bottom: 7px;
}

.card-information__button .button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 95%;
  color: #FFFFFF !important;
  background: #F05123;
  border-radius: 8px;
  padding: 10px 25px;
  border: 1px solid #F05123;
  min-width: auto;
  text-transform: none;
  letter-spacing: normal;

}


.card-information__button .countdown {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  font-family: var(--font-button-family);
  font-size: var(--font-button-size);
  line-height: calc(1 + 0.3/max(1, var(--font-heading-scale)));
  padding: 0.6rem 2rem;
  padding-top: calc(0.6rem + var(--font-button-baseline));
  background-color: var(--color-badge-background);
  color: var(--color-sale-price);
  border: 0.1rem solid currentColor;
  border-radius: min(var(--button-radius), 0.8rem);
}

.card-information__button .countdown__item {
  width: auto;
  flex: none;
  padding: 0;
}

.card-information__button {
  position: absolute;
  left: 17px;
  bottom: 17px;
}

.card-information__wrapper {
  width: 100%;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}


.card-information__wrapper .caption {
  letter-spacing: 0.07rem;
}

.card-wrapper {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
  height: 100%;
}


.card-wrapper:focus-within .card {
  box-shadow: none;
}

.card-wrapper .full-unstyled-link {
  display: none;
}

.card__media {
  padding: var(--card-image-padding);
  border-radius: calc(var(--card-radius) - var(--card-border-width) - var(--card-image-padding));
  background-color: transparent;
}

.card__media-full-spacer {
  padding: 2rem;
}

.card-article-info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 95% !important;
  color: #F05123;
  text-transform: none;
  margin-bottom: 7px;

}

.card__badge {
  display: none;
  flex-direction: column;
  grid-row-gap: 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  /*   max-width: 50%; */
}

@media screen and (hover: hover) {
  .card-wrapper:hover .card-information__button .button {
    transform: translateY(0);
  }
}

@media screen and (min-width: 990px) {
  .card-wrapper .full-unstyled-link {
    display: flex;
  }

  .card .media.media--hover-effect>img:only-child,
  .card-wrapper .media.media--hover-effect>img:only-child {
    transition-property: transform, opacity;
  }

  .card:hover .media.media--hover-effect>img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect>img:first-child:only-child {
    transform: scale(1.03);
  }

  .card-wrapper:hover .media.media--hover-effect>img+img {
    opacity: 1;
    transition-property: opacity, transform;
    transform: scale(1.03);
  }



  .card--search img {
    transition: transform var(--duration-default) ease;
  }

  .card-wrapper:hover .card--search img {
    transform: scale(1.05);
  }

  .card-wrapper:hover .card__heading {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

.badge+.card__colors {
  margin-top: 1rem;
}

.card__colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  pointer-events: visible;
  gap: 1rem;
}

@media screen and (min-width: 750px) {
  .card__colors {
    transform: translateX(3rem);
  }
}

.color-swatch {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  backface-visibility: hidden;
  background-size: cover;
  transition: transform var(--duration-default) ease;
}

.color-swatch::before {
  content: '';
  position: absolute;
  bottom: 100%;
  opacity: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 0.5rem;
  border-color: transparent transparent transparent;
  border-top-color: rgb(var(--color-foreground));
}

.color-swatch::after {
  content: attr(data-title);
  font-size: 0.8rem;
  line-height: 1;
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.9rem;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  padding: 0.5rem 0.7rem;
  color: rgb(var(--color-background));
  background-color: rgb(var(--color-foreground));
  border-radius: min(var(--button-radius), 0.4rem);
}

@media screen and (hover: hover) {
  .color-swatch:hover {
    transform: scale(1.2);
  }

  .color-swatch:hover::before,
  .color-swatch:hover::after {
    opacity: 1;
    transition: opacity var(--duration-short) ease;
  }
}

.color-swatch.active {
  transform: scale(1.4);
}

.color-swatch color-swatch {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  position: relative;
}

.color-swatch.active color-swatch::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--color-background));
}

.product-grid .badge--soldout {
  display: none;
}



@media (max-width: 1200px) {
  .card-information__text {
    font-size: 14px;
  }

  .product-grid .card-information .button--soldout {
    padding: 11px 15px;
  }
}

@media (max-width: 992px) {

  .product-grid .card-information .button--soldout,
  .card-information__button .button {
    padding: 10px 15px;
    font-size: 12px;
  }


  .card-information__text {
    font-size: 14px;
  }

}