/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

:root {
  --site-container-width: 1370px;
}

.site-container {
  width: var(--site-container-width);
  padding: 0;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}

.header-extra-tools__item.__search-form {
  width: 340px;
  max-width: 100%;
}
.header-extra-tools__item.__search-form form {
  width: 100%;
  position: relative;
}
.header-extra-tools__item.__search-form form input[name=q] {
  width: 100%;
  border-radius: 8px;
  border: none;
  background: white;
  padding: 1em;
}
.header-extra-tools__item.__search-form form input[type=submit] {
  display: none;
}
.header-extra-tools__item.__search-form form .__search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  pointer-events: none;
}

.__mini-cart-icon {
  position: relative;
}
.__mini-cart-icon .cart-link__bubble {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #FFC85E;
  color: white;
  font-family: "Montserrat";
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

.membership-register-form .footer-heading-text h4 {
  font-family: "Flavory Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #F05123;
  margin: 0;
}
.membership-register-form .footer-heading-text p {
  margin-top: 0;
}
.membership-register-form .__form-container {
  margin-top: 29px;
}
.membership-register-form .__form-container .__field__input {
  border: none;
  border-radius: 8px;
  background-color: white;
  width: 340px;
  padding: 1.5em;
}
.membership-register-form .__form-container .button {
  background-color: #F05123;
  color: white;
  font-size: 1.1em;
  font-weight: 800;
  padding: 15px 20px;
  border: none;
  white-space: nowrap;
  letter-spacing: 0;
  display: inherit;
  margin-top: 15px;
  border-radius: 8px;
  width: auto;
  min-width: auto;
  text-transform: initial;
  display: flex;
}
.membership-register-form .__form-container .button svg {
  width: 24px;
  margin-left: 10px;
}
.membership-register-form .__form-container .button svg path {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
.membership-register-form .__form-container .button:hover {
  color: black;
}
.membership-register-form .__form-container .button:hover svg path {
  stroke: black;
}

.footer-socials .social-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer-socials .social-list li {
  list-style: none;
  margin-right: 1.5em;
}
.footer-socials .social-list li svg {
  height: 22px;
}
.footer-socials .social-list li a svg path {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
.footer-socials .social-list li a:hover svg path {
  stroke: #F05123;
}

.menu-style-vertical {
  margin: 0;
  padding: 0;
}
.menu-style-vertical li {
  list-style: none;
  margin-bottom: 4px;
}
.menu-style-vertical li a {
  color: white;
  font-size: 1em;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.menu-style-vertical li a:hover {
  border-bottom-color: #F05123;
  color: #F05123;
}

.site-brand__url {
  display: inline-block;
}
.site-brand__url img {
  height: 64px;
  width: auto;
}

.site-header__nth1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: normal;
  padding: 18px 0;
}

.site-header__nth2 {
  background-color: #FFC85E;
}

.site-header__extra-tools {
  margin-left: auto;
}

.site-header__brand {
  margin-right: 2em;
}

.header-extra-tools__container {
  display: flex;
  align-items: center;
}
.header-extra-tools__item:not(:last-child) {
  margin-right: 1.3em;
}

ul.menu-style-inline {
  margin: 0;
  padding: 0;
}
ul.menu-style-inline li {
  list-style: none;
  position: relative;
}
ul.menu-style-inline a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  display: flex;
}
ul.menu-style-inline a .menu-icon-arrow {
  display: flex;
  align-items: center;
  margin-left: 4px;
}
ul.menu-style-inline ul.dropdown-child,
ul.menu-style-inline ul.dropdown-grandchild {
  width: 210px;
  position: absolute;
  z-index: 9;
  background-color: white;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px 0 rgba(1, 1, 1, 0.1);
  border-radius: 1px;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
}
ul.menu-style-inline ul.dropdown-child li.menu-link > a,
ul.menu-style-inline ul.dropdown-grandchild li.menu-link > a {
  padding: 14px 20px;
  display: inline-block;
  width: 100%;
  font-size: 0.8em;
  font-weight: 700;
}
ul.menu-style-inline ul.dropdown-child li.menu-link:not(:last-child),
ul.menu-style-inline ul.dropdown-grandchild li.menu-link:not(:last-child) {
  border-bottom: solid 1px #f2f2f2;
}
ul.menu-style-inline ul.dropdown-child li.menu-link:hover > a,
ul.menu-style-inline ul.dropdown-grandchild li.menu-link:hover > a {
  background-color: black;
  color: white;
}
ul.menu-style-inline ul.dropdown-child {
  top: 100%;
  left: 0;
}
ul.menu-style-inline ul.dropdown-child a {
  color: black;
}
ul.menu-style-inline ul.dropdown-grandchild {
  top: 0;
  left: 100%;
}
ul.menu-style-inline.menu {
  display: flex;
  flex-wrap: wrap;
}
ul.menu-style-inline.menu > li.menu-link {
  margin-right: 1.3em;
}
ul.menu-style-inline.menu > li.menu-link > a {
  color: #FFC85E;
  padding: 10px 4px;
}
ul.menu-style-inline li.menu-link:hover > ul {
  opacity: 1;
  visibility: visible;
}

.site-header__nth2 .menu-style-inline > li.menu-link > a {
  color: white !important;
  padding: 22px 4px !important;
}

.site-footer {
  background-color: black;
  padding-top: 103px;
  position: relative;
}
.site-footer .footer-decor-top {
  position: absolute;
  width: 100%;
  top: 0;
  line-height: 0;
  transform: translateY(-98%);
  -webkit-transform: translateY(-98%);
}
.site-footer__inner {
  display: flex;
  flex-wrap: wrap;
}
.site-footer__inner .footer-col {
  margin-bottom: 1.5em;
}
.site-footer__inner .footer-col.__type_membership-form {
  width: 40%;
}
.site-footer__inner .footer-col.__type_footer-brand-image {
  width: 20%;
  text-align: center;
}
.site-footer__inner .footer-col.__type_vertical-menu, .site-footer__inner .footer-col.__type_footer-socials {
  width: 13.3333333333%;
}
.site-footer__inner .footer-col.__type_vertical-menu h4, .site-footer__inner .footer-col.__type_footer-socials h4 {
  color: #F05123;
  font-size: 1.5em;
  margin: 0 0 1.4em;
  font-weight: bold;
  font-family: "Montserrat";
}
.site-footer__inner .footer-col.__type_vertical-menu h4.__heading-empty, .site-footer__inner .footer-col.__type_footer-socials h4.__heading-empty {
  height: 32px;
  display: block;
}
.site-footer__copyright {
  padding: 50px 0 60px;
}

.copyright-text__container {
  width: 365px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.__type_footer-brand-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.__type_footer-brand-image .footer-brand-image {
  max-width: 100%;
}
.__type_footer-brand-image .footer-brand-image img {
  max-width: 100%;
}

.page-title-section {
  position: relative;
  background-color: #F05123;
}
.page-title-section .page-title__container {
  width: var(--site-container-width);
  padding: 0;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}
.page-title-section .page-title__heading {
  font-weight: 400;
  font-size: 86px;
  line-height: 95%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.page-title-section .page-title__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 95%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}

.single-post-section {
  position: relative;
  background-color: #FFFFFF;
}
.single-post-section .single-post__container {
  width: var(--site-container-width);
  padding: 0;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}
.single-post-section .single-post__decor-top {
  position: absolute;
  width: 100%;
  top: 0;
  line-height: 0;
  transform: translateY(-98%);
  -webkit-transform: translateY(-98%);
}
.single-post-section .single-post__wrap {
  display: flex;
}
.single-post-section .single-post__content {
  width: 65.5%;
}
.single-post-section .single-post__content .post-template__image {
  position: relative;
  overflow: hidden;
  padding-bottom: 30%;
  background-color: #D9D9D9;
  margin-bottom: 15px;
  border-radius: 22px;
}
.single-post-section .single-post__content .post-template__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-post-section .single-post__content .post-template__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #8B8B8B;
  margin-bottom: 15px;
}
.single-post-section .single-post__content .post-template__category a {
  font-size: inherit;
  color: inherit;
}
.single-post-section .single-post__content .post-template__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 40px;
}
.single-post-section .single-post__content .post-template__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #8B8B8B;
}
.single-post-section .single-post__content .post-template__content h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #000000;
}
.single-post-section .single-post__content .post-template__content p {
  margin: 16px 0;
}
.single-post-section .single-post__content .post-template__content p.gallery {
  margin: 20px 0;
}
.single-post-section .single-post__content .post-template__content p.gallery-2-col span {
  display: flex;
  justify-content: space-between;
}
.single-post-section .single-post__content .post-template__content p.gallery-2-col span img {
  max-width: calc(50% - 14.5px);
  width: 430px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 22px;
}
.single-post-section .single-post__content .post-template__tag-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.single-post-section .single-post__content .post-template__tag-share .list-tag {
  list-style: none;
  margin: 0 -5px;
  padding: 0;
}
.single-post-section .single-post__content .post-template__tag-share .list-tag .item-tag {
  display: inline-block;
  padding: 5px;
}
.single-post-section .single-post__content .post-template__tag-share .list-tag .item-tag a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #FFFFFF;
  background: #F05123;
  padding: 5px 20px;
  border-radius: 8px;
}
.single-post-section .single-post__content .post-template__tag-share .social-sharing {
  margin: 0 -10px;
}
.single-post-section .single-post__content .post-template__tag-share .social-sharing li {
  display: inline-block;
  padding: 10px;
}
.single-post-section .single-post__content .post-template__tag-share .social-sharing__link {
  color: #F05123;
}
.single-post-section .single-post__content .post-template__tag-share .social-sharing__link .icon {
  margin: 0;
}
.single-post-section .single-post__content .post-template__tag-share .social-sharing__title {
  display: none;
}
.single-post-section .single-post__sidebar {
  width: 34.5%;
  padding-left: 85px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget:not(:last-child) {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000000;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__title {
  font-family: "Montserrat" !important;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 22px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-category {
  list-style: none;
  margin: 0;
  padding: 0;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-category .item-category:not(:last-child) {
  margin-bottom: 20px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-category .item-category a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #000000;
  text-decoration: none;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-category .item-category a.current-blog span {
  background: #F05123;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-category .item-category a span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: #D9D9D9;
  margin-right: 4px;
  border-radius: 4px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post {
  display: flex;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post:not(:last-child) {
  margin-bottom: 20px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post__thumb {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 140px;
  background: #D9D9D9;
  border-radius: 12px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post__thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post__content {
  width: calc(100% - 140px);
  padding-left: 20px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post__by {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #8B8B8B;
  margin-bottom: 20px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post__title {
  font-family: "Montserrat" !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 146%;
  color: #000000;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-post .item-post__title a {
  color: inherit;
  text-decoration: none;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-tag {
  list-style: none;
  margin: -5px;
  padding: 0;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-tag .item-tag {
  display: inline-block;
  padding: 5px;
}
.single-post-section .single-post__sidebar .blog-sidebar .block-widget__content .list-tag .item-tag a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #FFFFFF;
  background: #F05123;
  padding: 5px 20px;
  border-radius: 8px;
}

.related-acticles-section {
  position: relative;
  background: #F05123;
}
.related-acticles-section .related-acticles__decor-top {
  position: absolute;
  width: 100%;
  top: 0;
  line-height: 0;
  transform: translateY(-98%);
  -webkit-transform: translateY(-98%);
}
.related-acticles-section .related-acticles__container {
  width: var(--site-container-width);
  padding: 0;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}
.related-acticles-section .related-acticles__header {
  text-align: center;
  margin-bottom: 90px;
}
.related-acticles-section .related-acticles__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 95%;
  text-transform: uppercase;
  color: #FFC85E;
  margin: 0;
}
.related-acticles-section .related-acticles__view-all {
  font-weight: 600;
  font-size: 24px;
  line-height: 95%;
  color: #FFFFFF;
  margin-top: 15px;
}
.related-acticles-section .related-acticles__view-all a {
  color: inherit;
  text-decoration: none;
}
.related-acticles-section .related-acticles__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.related-acticles-section .related-acticles__list .post-item-wrap {
  width: 33.33%;
  padding: 0 15px;
}
.related-acticles-section .related-acticles__list .post-item__thumb {
  position: relative;
  overflow: hidden;
  padding-bottom: 53%;
  background: #D9D9D9;
  margin-bottom: 15px;
  border-radius: 22px;
}
.related-acticles-section .related-acticles__list .post-item__thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.related-acticles-section .related-acticles__list .post-item__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.related-acticles-section .related-acticles__list .post-item__category a {
  font-size: inherit;
  color: inherit;
}
.related-acticles-section .related-acticles__list .post-item__title {
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}
.related-acticles-section .related-acticles__list .post-item__title a {
  color: inherit;
  text-decoration: none;
}
.related-acticles-section .related-acticles__list .post-item__read {
  margin-top: 40px;
}
.related-acticles-section .related-acticles__list .post-item__read .read-link-btn {
  display: inline-flex;
  font-weight: 900;
  font-size: 22px;
  line-height: 95%;
  text-decoration: none;
  color: #FFFFFF;
  background: #FFC85E;
  padding: 23px 60px;
  border-radius: 12px;
}
.related-acticles-section .related-acticles__list .post-item__read .read-link-btn svg {
  margin-left: 8px;
}

.collection-gallery {
  position: relative;
}
.collection-gallery__decor-top {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-98%);
  -webkit-transform: translateY(-98%);
  width: 100%;
  line-height: 0;
}
.collection-gallery__heading {
  text-align: center;
}
.collection-gallery__heading h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  margin: 0;
}
.collection-gallery__desc {
  max-width: 90%;
  margin: 0 auto;
  line-height: 1.5em;
}
.collection-gallery__box-grid {
  margin-top: 40px;
}
.collection-gallery__box-grid .grid-sizer,
.collection-gallery__box-grid .grid-item {
  width: 31%;
}
.collection-gallery__box-grid .box-item {
  margin-bottom: 30px;
  line-height: 0;
  overflow: hidden;
  border-radius: 12px;
}
.collection-gallery__box-grid .box-item.__box-size_1 {
  height: 260px;
}
.collection-gallery__box-grid .box-item.__box-size_1.__fix-design {
  height: 230px;
}
.collection-gallery__box-grid .box-item.__box-size_2 {
  height: 520px;
}
.collection-gallery__box-grid .box-item.__box-size_2.__fix-design {
  height: 490px;
}
.collection-gallery__box-grid .box-item__decor {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}
.collection-gallery__box-grid .box-item__decor svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(-98%);
  -webkit-transform: translateY(-98%);
}
.collection-gallery__box-grid .box-item__inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3827906162) 0%, rgba(0, 212, 255, 0) 100%);
}
.collection-gallery__box-grid .box-item__inner img {
  width: 100%;
  height: auto;
}
.collection-gallery__box-grid .box-item__inner .box-info {
  padding: 26px;
  text-align: center;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.collection-gallery__box-grid .box-item__inner .box-info .box-name {
  font-size: 1.3em;
  font-family: "Montserrat";
  font-weight: 600;
  margin: 0;
  margin-bottom: 1em;
}
.collection-gallery__box-grid .box-item__inner .box-info a.button {
  background: #FFC85E;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 0;
  text-transform: initial;
  font-size: 1.2em;
  min-width: auto;
  visibility: hidden;
  opacity: 0;
  white-space: normal;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.collection-gallery__box-grid .box-item__inner .box-info a.button svg {
  margin-left: 4px;
  width: 24px;
}
.collection-gallery__box-grid .box-item__inner .box-info a.button svg path {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.collection-gallery__box-grid .box-item__inner .box-info a.button:hover {
  color: black;
}
.collection-gallery__box-grid .box-item__inner .box-info a.button:hover svg path {
  stroke: black;
}
.collection-gallery__box-grid .box-item:hover .box-item__inner .box-info {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}
.collection-gallery__box-grid .box-item:hover .box-item__inner .box-info a.button {
  visibility: visible;
  opacity: 1;
}
.collection-gallery__box-grid .box-item:hover .box-item__decor {
  top: 30%;
  opacity: 1;
}

.section-ins-feed-app {
  background-color: #fff;
}
.section-ins-feed-app h2 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 70px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .section-ins-feed-app h2 {
    margin-bottom: 40px;
    font-size: 28px;
  }
}
.section-ins-feed-app h2 span {
  display: block;
  color: #F05123;
}
@media (max-width: 1024px) {
  .section-ins-feed-app #insta-feed .instafeed-container {
    width: 33.3333% !important;
    padding-top: 33.3333% !important;
  }
}
@media (max-width: 767px) {
  .section-ins-feed-app #insta-feed .instafeed-container {
    width: 50% !important;
    padding-top: 50% !important;
  }
}

.template-collection {
  background-color: #fff;
  color: rgb(var(--color-background));
}
.template-collection .rich-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 95%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.template-collection .rich-text .rich-text__text {
  max-width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  color: #8B8B8B;
  margin-top: 0;
}
.template-collection .collection-grid-section .facets__form .filter-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 95%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 12px;
}
.template-collection .collection-grid-section .facets__form .facets__main .js-filter .facets__header .facets__selected {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 95%;
  color: #F05123;
}
.template-collection .collection-grid-section .facets__form .facets__main .js-filter .facets__header .facets__list {
  padding-bottom: 0;
}
.template-collection .collection-grid-section .product-grid-container #product-grid {
  display: grid;
  grid-row-gap: 2.5rem;
  grid-column-gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1600px) {
  .template-collection .collection-grid-section .product-grid-container #product-grid {
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
  }
}
@media (max-width: 1400px) {
  .template-collection .collection-grid-section .product-grid-container #product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .template-collection .collection-grid-section .product-grid-container #product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.template-collection .collection-grid-section .product-grid-container #product-grid .grid__item {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.product-grid .grid__item .card-wrapper,
.product-grid .grid__item a,
.product-grid .grid__item .card-information__wrapper {
  color: rgb(240, 81, 35);
}
.product-grid .grid__item .card-wrapper a,
.product-grid .grid__item a a,
.product-grid .grid__item .card-information__wrapper a {
  position: relative;
}
.product-grid .grid__item .card__media.media-wrapper {
  background-color: transparent;
}
.product-grid .grid__item .card__media.media-wrapper .card-article-info {
  color: rgb(240, 81, 35);
}
.product-grid .grid__item .card-wrapper {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
  height: 100%;
  background: #FFFFFF;
  border: solid 12px transparent;
  border-radius: 22px;
  padding: 17px;
  transition: all 0.5s ease;
}
@media (max-width: 1600px) {
  .product-grid .grid__item .card-wrapper {
    border: solid 8px transparent;
    padding: 12px;
  }
}
.product-grid .grid__item .card-wrapper:hover {
  border: solid 12px #F05123;
}
@media (max-width: 1600px) {
  .product-grid .grid__item .card-wrapper:hover {
    border: solid 8px #F05123;
    padding: 12px;
  }
}
.product-grid .grid__item .card-wrapper .media {
  padding: 0;
  height: 324px;
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .product-grid .grid__item .card-wrapper .media {
    height: 234px;
  }
}
.product-grid .grid__item .card-wrapper .card-information {
  min-height: calc(100% - 324px);
  padding-bottom: 40px;
}
@media (max-width: 1600px) {
  .product-grid .grid__item .card-wrapper .card-information {
    min-height: calc(100% - 234px);
  }
}
.product-grid .grid__item .card-wrapper .card-information .card-information__button .button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 95%;
  color: #FFFFFF !important;
  background: #F05123;
  border-radius: 8px;
  padding: 10px 25px;
  border: 1px solid #F05123;
  min-width: auto;
  text-transform: none;
  letter-spacing: normal;
}
@media (max-width: 1200px) {
  .product-grid .grid__item .card-wrapper .card-information .card-information__button .button {
    font-size: 14px;
  }
}
.product-grid .grid__item .card-wrapper .card-information .card-information__button .button:hover {
  color: #F05123 !important;
}
.product-grid .grid__item .card-wrapper .card-information .button--soldout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 95%;
  color: #F05123;
  border: 1px solid #F05123;
  border-radius: 8px;
  padding: 11px 25px;
  text-transform: none;
  letter-spacing: normal;
  background-color: white !important;
  min-width: auto;
  opacity: 1;
  position: absolute;
  bottom: 17px;
  left: 17px;
}
@media (max-width: 1200px) {
  .product-grid .grid__item .card-wrapper .card-information .button--soldout {
    font-size: 14px;
  }
}

.rating-star-wrap {
  position: relative;
  width: 77px;
  height: 13px;
  display: block;
}
.rating-star-wrap .rating-star-img {
  position: absolute;
  left: 0;
  top: 0;
}
.rating-star-wrap .rating-star-img.rating-star-img-fill::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(100% - var(--percent-rating) * var(--percent-unit));
  background-color: white;
}

.product-carousel {
  position: relative;
}
.product-carousel__decor-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(-97%);
  -webkit-transform: translateY(-97%);
  line-height: 0;
}
.product-carousel__heading {
  text-align: center;
}
.product-carousel__heading h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.product-carousel__heading .redirect-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  color: #F05123;
  text-transform: uppercase;
  text-decoration: none;
}

.slide-product-container {
  position: relative;
  margin-top: 2em;
}
.slide-product-container .__slide-nav {
  position: absolute;
  top: calc(50% - 21px);
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slide-product-container .__slide-nav.__slide-prev {
  left: -80px;
}
.slide-product-container .__slide-nav.__slide-next {
  right: -80px;
}
.slide-product-container .product-slide-item__inner {
  padding: 1em;
  margin: 0 1em;
  background: white;
  border-radius: 18px;
  font-family: "Montserrat";
  border: solid 8px white;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.slide-product-container .product-slide-item__inner:hover {
  border-color: #F05123;
}
.slide-product-container .product-slide-item__inner .__p-thumb {
  display: inline-block;
  width: 100%;
}
.slide-product-container .product-slide-item__inner .__p-thumb img {
  width: 100%;
}
.slide-product-container .product-slide-item__inner .__p-entry {
  color: black;
  font-size: 0.9em;
  font-weight: 400;
}
.slide-product-container .product-slide-item__inner .__p-entry .__p-title {
  font-size: 1em;
  font-weight: bold;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: 1em;
}
.slide-product-container .product-slide-item__inner .__p-entry .__p-title a {
  text-decoration: none;
  color: black;
}
.slide-product-container .product-slide-item__inner .__p-entry .__p-price {
  margin: 1em 0;
}
.slide-product-container .product-slide-item__inner .__p-entry .__p-price span {
  font-weight: bold;
}
.slide-product-container .product-slide-item__inner .__p-entry .__p-price .__sold-out {
  display: inline-block;
  border-radius: 8px;
  border: solid 2px #F05123;
  color: #F05123;
  text-align: center;
  width: 100%;
  padding: 0.7em;
  text-transform: capitalize;
}
.slide-product-container .product-slide-item__inner .__p-entry .__rating-elem .__review {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.slide-product-container .product-slide-item__inner .__p-entry .__rating-elem .__review .__start {
  display: flex;
  line-height: 0;
}
.slide-product-container .product-slide-item__inner .__p-entry .__rating-elem .__review .__start > span {
  margin: 0 2px 0 0;
}
.slide-product-container .product-slide-item__inner .__p-entry .__rating-elem .__review .__count {
  margin-left: 10px;
}
.slide-product-container .product-slide-item__inner .__p-entry button {
  border-radius: 8px;
  background: #F05123;
  letter-spacing: 0;
  font-weight: bold;
  font-family: "Montserrat";
  min-width: auto;
  border-color: #F05123;
  width: 100%;
}
.slide-product-container .product-slide-item__inner .__p-entry button:hover {
  color: black;
}
