:root {
  --site-container-width: 1360px;
}

.site-header__container {
  width: var(--site-container-width);
  padding: 0;
  margin: 0 auto;
  max-width: calc(var(--site-container-width) - 30px);
}

.site-brand__url {
  display: inline-block;
}
.site-brand__url img {
  height: 64px;
  width: auto;
}

.site-header__nth1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: normal;
  padding: 18px 0;
}

.site-header__nth2 {
  background-color: #FFC85E;
}

.site-header__extra-tools {
  margin-left: auto;
}

.site-header__brand {
  margin-right: 2em;
}

.header-extra-tools__container {
  display: flex;
}
.header-extra-tools__item:not(:last-child) {
  margin-right: 1.3em;
}

ul.menu-style-inline {
  margin: 0;
  padding: 0;
}
ul.menu-style-inline li {
  list-style: none;
  position: relative;
}
ul.menu-style-inline a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0;
}
ul.menu-style-inline ul.dropdown-child,
ul.menu-style-inline ul.dropdown-grandchild {
  width: 280px;
  position: absolute;
  z-index: 9;
  background-color: white;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
ul.menu-style-inline ul.dropdown-child li.menu-link > a,
ul.menu-style-inline ul.dropdown-grandchild li.menu-link > a {
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
}
ul.menu-style-inline ul.dropdown-child {
  top: 100%;
  left: 0;
}
ul.menu-style-inline ul.dropdown-child a {
  color: black;
}
ul.menu-style-inline.menu {
  display: flex;
  flex-wrap: wrap;
}
ul.menu-style-inline.menu > li.menu-link {
  margin-right: 1em;
}
ul.menu-style-inline.menu > li.menu-link > a {
  color: #FFC85E;
  padding: 10px 4px;
  display: block;
}
ul.menu-style-inline li.menu-link:hover ul.dropdown-child {
  opacity: 1;
  visibility: visible;
}
