.section-card-w-icon .card-with-icon-wrapper .section-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(var(--site-container-width) + 30px);
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon--heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 62px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon--heading {
    line-height: 95%;
    font-size: 36px;
  }
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon--heading span {
  display: block;
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 62px;
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    margin-bottom: 0px;
  }
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item-icon {
  width: 64px;
  height: 64px;
  background: #F05123;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -32px;
  transform: translateX(-50%);
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item-icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item-inner {
  background: #FFFFFF;
  border-radius: 18px;
  text-align: center;
  height: 100%;
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item-content {
  padding: 50px 25px 35px;
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 95%;
  text-align: center;
  color: #000000;
  margin: 0;
}
.section-card-w-icon .card-with-icon-wrapper .section-container .card-with-icon__item-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  text-align: center;
  color: #8B8B8B;
  margin-top: 20px;
}
