.section-card-w-icon {
  background-color: white;
}
.section-card-w-icon .card-with-icon-wrapper .card-with-icon--heading {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 95%;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}
.section-card-w-icon .card-with-icon-wrapper .card-with-icon--subheading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 95%;
  text-align: center;
  color: #F05123;
}
