.slick-track {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.slick-track .slick-slide {
  height: auto;
}
.slick-track .slick-slide > div {
  height: 100%;
}

.section-home-slider-inner--item {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}
.section-home-slider-inner--item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper {
    flex-direction: column-reverse;
  }
}
@media (min-width: 992px) {
  .section-home-slider-inner--item-wrapper.page-width {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .section-home-slider-inner--item-wrapper.page-width {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .section-home-slider-inner--item-wrapper.page-width {
    max-width: 1400px;
  }
}
.section-home-slider-inner--item-wrapper .slide-col {
  position: relative;
  width: 100%;
  min-height: 1px;
}
@media (min-width: 768px) {
  .section-home-slider-inner--item-wrapper .slide-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.section-home-slider-inner--item-wrapper .slide-col.slide-content {
  padding-right: 20px;
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-content {
    padding-right: 0px;
  }
}
.section-home-slider-inner--item-wrapper .slide-col.slide-content .heading-slide {
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  line-height: 95%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-content .heading-slide {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-content .heading-slide {
    font-size: 36px;
  }
}
.section-home-slider-inner--item-wrapper .slide-col.slide-content .desc-slide {
  font-style: normal;
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #FFFFFF;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-content .desc-slide {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.section-home-slider-inner--item-wrapper .slide-col.slide-content .btn-slide {
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  font-weight: 900;
  font-size: 22px;
  line-height: 95%;
  color: #FFFFFF;
  padding: 21px 30px 25px;
  background: #FFC85E;
  border-radius: 8px;
}
@media (max-width: 1280px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-content .btn-slide {
    font-size: 20px;
    padding: 11px 25px 19px;
  }
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-content .btn-slide {
    font-size: 18px;
    padding: 11px 25px 19px;
  }
}
.section-home-slider-inner--item-wrapper .slide-col.slide-content .btn-slide svg {
  position: relative;
  top: 5px;
}
.section-home-slider-inner--item-wrapper .slide-col.slide-media {
  padding-left: 20px;
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-media {
    padding-left: 0px;
  }
}
.section-home-slider-inner--item-wrapper .slide-col.slide-media .slide-media__image {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.section-home-slider-inner--item-wrapper .slide-col.slide-media .slide-media__image img {
  max-width: 50%;
  height: auto;
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-media .slide-media__image img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
}
.section-home-slider-inner--item-wrapper .slide-col.slide-media .slide-media__image-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-home-slider-inner--item-wrapper .slide-col.slide-media .slide-media__image-animation img {
  max-width: 50%;
  width: auto;
  height: auto;
}
@media (max-width: 767px) {
  .section-home-slider-inner--item-wrapper .slide-col.slide-media .slide-media__image-animation img {
    max-width: 100%;
  }
}
.section-home-slider .slick-arrow {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  height: 42px;
  width: 42px;
  background-color: white;
  border-radius: 50%;
  border: none;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDEyLjUwNTlINSIgc3Ryb2tlPSIjRjA1MTIzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTIgMTkuNTA1OUw1IDEyLjUwNTlMMTIgNS41MDU4NiIgc3Ryb2tlPSIjRjA1MTIzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 1360px) {
  .section-home-slider .slick-arrow {
    left: 30px;
  }
}
.section-home-slider .slick-arrow.slick-next {
  left: unset;
  right: 70px;
  transform: translateY(-50%) rotate(180deg);
}
@media (max-width: 1360px) {
  .section-home-slider .slick-arrow.slick-next {
    right: 30px;
  }
}
.section-home-slider .slick-arrow.slick-disabled {
  opacity: 0.8;
}
