.section-hero-home {
    overflow-x: hidden;

    .section-inner {
        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;

            .col {
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;

                @media (min-width: 768px) {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                &.col-content {            
                    @media (min-width: 768px) {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 55%;
                        flex: 0 0 55%;
                        max-width: 55%;
                        padding-top: 80px;
                        padding-bottom: 45px;
                    }
                    @media (min-width: 1100px) {
                        padding-top: 120px;
                        padding-bottom: 80px;
                    }
                    
                }

                &.col-media {
                    text-align: center;
                    padding-top: 50px;
                    padding-bottom: 0px;
                    display: flex;
                    align-items: flex-end;

                    @media (max-width: 767px) {
                        overflow: hidden;
                        padding-top: 10px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 0;
                        width: 150%;
                        height: 100%;
                        background-image: var(--shadow-mask); 
                        background-position: center bottom;
                        background-repeat: no-repeat;
                        background-size: contain;
                        z-index: 1;
                    }

                    @media (min-width: 768px) {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 45%;
                        flex: 0 0 45%;
                        max-width: 45%;
                    }

                    img {
                        position: relative;
                        z-index: 2;
                        max-width: 85%;
                        margin: 0 auto;

                        @media (min-width: 768px) {
                            position: absolute;
                            bottom: 0;
                            max-width: calc(100% - 30px);
                            max-height: 95%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }

            .col-content {
                padding-right: 50px;

                @media (max-width: 991px) {
                    padding-right: 15px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                &--heading {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 54px;
                    line-height: 110%;
                    color: #000000;
                    margin: 0;

                    @media (max-width: 1500px) {
                        font-size: 42px !important;
                    }

                    @media (max-width: 1024px) {
                        font-size: 40px !important;
                    }

                    @media (max-width: 767px) {
                        font-size: 36px !important;
                    }
                }

                &--desc {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                    color: #000000;
                    margin: 0;
                    margin-top: 15px;

                    @media (max-width: 991px) {
                        font-size: 16px !important;
                    }

                    p {
                        margin: 0;
                    }
                }

                &--button {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 22px;
                    line-height: 95%;
                    background: #F05123;
                    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.12);
                    border-radius: 8px;
                    color: #FFFFFF;
                    padding: 18px 30px 24px;
                    display: inline-block;
                    margin-top: 50px;
                    text-decoration: none;
                    text-transform: none;
                    letter-spacing: normal;
                    border-color: #F05123;
                    min-width: auto;

                    @media (max-width: 1500px) {
                        font-size: 18px;
                        padding: 11px 30px 20px;
                    }

                    @media (max-width: 767px) {
                        padding: 18px 25px 24px;
                        font-size: 18px;
                        margin-top: 30px;

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .button-icon {
                        display: inline-block;
                        margin-left: 10px;
                        position: relative;
                        top: 5px;
                    }

                    &:hover {
                        color: #F05123;

                        .button-icon {
                            path {
                                stroke: #F05123;
                            }
                        }
                    }
                }
            }
        }
    }
}