.section-home-slider {
    &-inner {
        &--item {
            padding-top: 50px;
            padding-bottom: 50px;

            &-wrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                .slide-col {
                    position: relative;
                    width: 100%;
                    min-height: 1px;

                    @media (min-width: 768px) {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }

                    &.slide-content {
                        padding-right: 20px;

                        .heading-slide {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 86px;
                            line-height: 95%;
                            color: #FFFFFF;
                            margin-bottom: 10px;
                        }

                        .desc-slide {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 145%;
                            color: #FFFFFF;
                            margin-bottom: 50px;
                        }

                        .btn-slide {
                            font-style: normal;
                            text-decoration: none;
                            display: inline-block;
                            font-weight: 900;
                            font-size: 22px;
                            line-height: 95%;
                            color: #FFFFFF;
                            padding: 25px 30px;
                            background: #FFC85E;
                            border-radius: 8px;
                        }
                    }

                    &.slide-media {
                        padding-left: 20px;

                        .slide-media__image {
                            position: relative;
                            z-index: 2;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .slide-media__image-animation {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            z-index: 1;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}