.section-box-collections {
    .section-inner {
        .section-container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: calc(var(--site-container-width) + 30px);
        }

        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            align-items: center;
            margin-right: -15px;
            margin-left: -15px;

            .col {
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;

                @media (min-width: 991.98px) {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }

            .col-content {
                @media (min-width: 1600px) {
                    padding-right: 70px;
                }
                @media (max-width: 991.98px) {
                    padding-bottom: 60px;
                }
                &--subheading {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 120%;
                    text-transform: uppercase;
                    color: #F05123;
                    @media (max-width: 767.98px) {
                        font-size: 18px !important;
                    }
                }

                &--heading {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 120%;
                    color: #000000;
                    margin-bottom: 0;
                    margin-top: 10px;

                    @media (max-width: 767.98px) {
                        font-size: 28px !important;
                    }
                }

                &--desc {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #8B8B8B;
                    margin-top: 20px;

                    p {
                        margin: 0;
                    }
                }

                &--button {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 22px;
                    line-height: 95%;
                    background: #F05123;
                    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.12);
                    border-radius: 8px;
                    color: #FFFFFF;
                    padding: 18px 30px 24px;
                    display: inline-block;
                    margin-top: 40px;
                    text-decoration: none;
                    text-transform: none;
                    letter-spacing: normal;
                    border-color: #F05123;
                    min-width: auto;

                    @media (max-width: 767.98px) {
                        padding: 18px 25px 24px;
                        font-size: 18px;
                        margin-top: 30px;

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .button-icon {
                        display: inline-block;
                        margin-left: 10px;
                        position: relative;
                        top: 5px;
                    }

                    &:hover {
                        color: #F05123;

                        .button-icon {
                            path {
                                stroke: #F05123;
                            }
                        }
                    }
                }
            }

            .col-collection {
                @media (min-width: 1600px) {
                    padding-left: 70px;
                }
                &-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 25px;
                    @media (max-width: 576px) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @media (max-width: 420px) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    .box-collection-item {
                        text-align: center;

                        &:hover {
                            .box-collection-item-media {
                                // background: #F05123;
                                box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.18);

                                &::before {
                                    // opacity: 1;
                                    // visibility: visible;
                                }

                                img {
                                    // &:first-child {
                                    //     opacity: 0;
                                    //     visibility: hidden;
                                    // }

                                    // &:last-child {
                                    //     opacity: 1;
                                    //     visibility: visible;
                                    // }
                                }
                            }
                        }

                        &-media {
                            width: 100%;
                            max-width: 120px;
                            overflow: hidden;
                            position: relative;
                            background: #FFFFFF;
                            border-radius: 92.0957px;
                            margin: 0 auto;
                            transition: all 0.5s ease;
                            &::before {
                                content: '';
                                height: 82.39px;
                                width: 82.39px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background: #FFC85E;
                                filter: blur(15px);
                                border-radius: 92.0957px;
                                opacity: 0;
                                visibility: hidden;
                                transition: all 0.6s ease;
                                @media (max-width: 767px) {
                                    height: 62px;
                                    width: 62px;
                                }
                            }

                            a {
                                display: block;
                                width: 100%;
                                padding-bottom: 100%;
                            }

                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                /* width: 100%; */
                                /* height: 100%; */
                                /* object-fit: cover; */
                                /* object-position: center; */
                                transform: translate(-50%, -50%);
                                max-width: 50%;
                                max-height: 50%;
                                height: auto;
                                width: auto;
                                transition: all 0.6s ease;

                                &:last-child {
                                    max-width: 80%;
                                    max-height: 80%;
                                    opacity: 0;
                                    visibility: hidden;
                                }
                            }
                        }

                        &-label {
                            margin-top: 10px;

                            a {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 700;
                                font-size: .9em;
                                letter-spacing: 0;
                                line-height: 120%;
                                text-align: center;
                                color: #000000;
                                text-decoration: none;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}