.blog-sidebar {
    .block-widget {
        &:not(:last-child) {
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #000000;
        }
        &__title {
            font-family: 'Montserrat' !important;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0;
            text-transform: uppercase;
            color: #000000;
            margin: 0 0 22px;
        }
        &__content {
            .list-category {
                list-style: none;
                margin: 0;
                padding: 0;
                .item-category {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    a {
                        display: block;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 146%;
                        letter-spacing: 0;
                        color: #000000;
                        text-decoration: none;
                        &.current-blog {
                            .status {
                                background: #F05123;
                            }
                        }
                        .status {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            vertical-align: middle;
                            width: 24px;
                            height: 24px;
                            background: #D9D9D9;
                            margin-right: 4px;
                            border-radius: 4px;
                        }
                        .count {
                            float: right;
                        }
                        &:hover {
                            color: #F05123;
                        }
                    }
                }
            }
            .list-post {
                .item-post {
                    display: flex;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    &__thumb {
                        position: relative;
                        overflow: hidden;
                        width: 140px;
                        height: 140px;
                        background: #D9D9D9;
                        border-radius: 12px;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform var(--duration-long) ease;
                            transform: scale(1.001);
                        }
                    }
                    &__content {
                        width: calc(100% - 140px);
                        padding-left: 20px;
                    }
                    &__by {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 146%;
                        letter-spacing: 0;
                        color: #8B8B8B;
                        margin-bottom: 20px;
                    }
                    &__title {
                        font-family: 'Montserrat' !important;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 146%;
                        letter-spacing: 0;
                        color: #000000;
                        margin: 0;
                        a {
                            color: inherit;
                            text-decoration: none;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            transition: color var(--duration-default) ease;
                            &:hover {
                                color: #F05123;
                            }
                        }
                    }
                    &:hover {
                        .item-post {
                            &__thumb img {
                                transform: scale(1.03);
                            }
                        }
                    }
                }
            }
            .list-tag {
                list-style: none;
                margin: -5px;
                padding: 0;
                .item-tag {
                    display: inline-block;
                    padding: 5px;
                    a {
                        position: relative;
                        z-index: 1;
                        overflow: hidden;
                        display: inline-block;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 146%;
                        letter-spacing: 0;
                        color: #FFFFFF;
                        background: #F05123;
                        padding: 5px 20px;
                        border-radius: 8px;
                        &:after {
                            content: '';
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 120%;
                            height: 100%;
                            background-color: #FFC85E;
                            backface-visibility: hidden;
                            will-change: transform;
                            transform: rotate3d(0, 0, 1, 10deg) translate3d(-1.2em, 110%, 0);
                            transform-origin: 0% 100%;
                            transition: transform var(--duration-long) ease;
                        }
                        &:hover {
                            &:after {
                                transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}

.__post_item_style {
    .post-item {
        &__thumb {
            position: relative;
            overflow: hidden;
            padding-bottom: 53%;
            background: #D9D9D9;
            margin-bottom: 15px;
            border-radius: 22px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform var(--duration-long) ease;
                transform: scale(1.001);
            }
        }
        &__category {
            font-weight: 400;
            font-size: 16px;
            line-height: 146%;
            letter-spacing: 0;
            color: #8B8B8B;
            margin-bottom: 10px;
            a {
                font-size: inherit;
                color: inherit;
            }
        }
        &__title {
            font-family: 'Montserrat' !important;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0;
            text-transform: uppercase;
            color: #000000;
            margin: 0;
            a {
                color: inherit;
                text-decoration: none;
                transition: color var(--duration-default) ease;
                &:hover {
                    color: #F05123;
                }
            }
        }
        &__excerpt {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0;
            color: #8B8B8B;
            margin-top: 10px;
        }       
        &__read {
            margin-top: 40px;
            .read-link-btn {
                position: relative;
                z-index: 1;
                overflow: hidden;
                display: inline-flex;
                font-weight: 900;
                font-size: 22px;
                line-height: 95%;
                letter-spacing: 0;
                text-decoration: none;
                color: #FFFFFF;
                background: #F05123;
                padding: 23px 60px;
                border-radius: 12px;
                &:after {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 120%;
                    height: 100%;
                    background-color: #FFC85E;
                    backface-visibility: hidden;
                    will-change: transform;
                    transform: rotate3d(0, 0, 1, 10deg) translate3d(-1.2em, 110%, 0);
                    transform-origin: 0% 100%;
                    transition: transform var(--duration-long) ease;
                }
                svg {
                    margin-left: 10px;
                }
                &:hover {
                    &:after {
                        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
                    }
                }
            }
        }
        &:hover {
            .post-item {
                &__thumb img {
                    transform: scale(1.03);
                }
            }
        }
    }
}


.post-template {
    &__image {
        position: relative;
        overflow: hidden;
        padding-bottom: 30%;
        background-color: #D9D9D9;
        margin-bottom: 15px;
        border-radius: 22px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__category {
        font-weight: 400;
        font-size: 16px;
        line-height: 146%;
        letter-spacing: 0;
        color: #8B8B8B;
        margin-bottom: 15px;
        a {
            font-size: inherit;
            color: inherit;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #000000;
        margin: 0 0 40px;
    }
    &__content {
        font-weight: 400;
        font-size: 16px;
        line-height: 146%;
        letter-spacing: 0;
        color: #8B8B8B;
        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
            letter-spacing: 0;
            color: #000000;
        }
        p {
            margin: 16px 0;
            &.gallery {
                margin: 20px 0;
            }
            &.gallery-2-col {
                span {
                    display: flex;
                    justify-content: space-between;
                    img {
                        max-width: calc(50% - 14.5px);
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 22px;
                    }
                    @media(max-width: 767.98px) {
                        flex-direction: column;
                        img {
                            max-width: 100%;
                            &:not(:last-child) {
                                margin-bottom: 35px;
                            }
                        }
                    }
                }
            }
        }

        .card-wrapper {
            position: relative;
            .card--product {
                .card__media {
                    background-color: transparent;

                    .media {
                        padding: 0;
                        height: 280px;
                        margin-bottom: 30px;
                        background-color: transparent;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            -o-object-position: center;
                            object-position: center;
                            height: auto;
                            width: auto;
                            max-width: 100%;
                            max-height: 100%;
                            transform: translate(-50%, -50%);
                        }
                    }

                }
            }

            .card-article-info {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 95%;
                color: #000000;
                letter-spacing: normal;
                margin-bottom: 5px;
                text-transform: none;
            }

            .card-information__text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 120% !important;
                color: #000000;
                display: inline-block;
                text-transform: none;
                letter-spacing: normal;
                margin-bottom: 10px;
                text-decoration: none;
                min-height: 40px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .card__badge{
                display: none;
            }

            .card-information__button {
                position: relative;
                left: 0;
                bottom: 0;

                .button {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 95%;
                    color: #FFFFFF !important;
                    background: #F05123;
                    border-radius: 8px;
                    padding: 10px 25px;
                    border: 1px solid #F05123;
                    min-width: auto;
                    text-transform: none;
                    letter-spacing: normal;
                    &:hover{
                        color: #F05123 !important;
                    }
                }
            }

            .rating {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 95%;
                color: #F05123;
                margin-bottom: 20px;

                span {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 95%;
                    color: #000000;
                    display: inline-block;
                }
            }

            .rating-star {
                --letter-spacing: 0.3;
                --font-size: 1.5;
                --percent: calc((var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))) * 100%);
                letter-spacing: calc(var(--letter-spacing) * 1rem);
                font-size: calc(var(--font-size) * 1rem);
                line-height: 1;
                display: inline-block;
                font-family: Times;
                margin: 0;
            }

            .rating-text {
                display: none;
            }

            .rating-count {
                display: none;
                margin: 0;
            }

            @media (forced-colors: active) {
                .rating {
                    display: none;
                }

                .rating-text {
                    display: block;
                }
            }

            .price {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 24px;
                line-height: 95%;
                color: #000000;
                letter-spacing: normal;
                margin-bottom: 20px;
                price-money+price-money::before {
                    content: '\2013';
                    margin-inline-end: 0.7rem;
                }
                .price__sale {
                    display: none;
                }

                dd {
                    margin: 0;
                }
            }

            .button--soldout {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 900;
                font-size: 16px;
                line-height: 95%;
                color: #CDCDCD;
                border: 1px solid #CDCDCD;
                border-radius: 8px;
                letter-spacing: normal;
                padding: 13px 34px;
                min-width: auto;
                text-transform: none;
                background-color: transparent !important;
            }

            .quick-view__summary {
                top: 100px;
                right: unset;
                left: calc(50% - 50px);
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 95%;
                color: #FFFFFF;
                background: #F05123;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    display: none;
                }
            }
        }

        .card-wrapper {
            color: inherit;
            display: block;
            position: relative;
            text-decoration: none;
            height: 100%;
            background: #FFFFFF;
            border: solid 12px transparent;
            border-radius: 22px;
            padding: 17px;
            transition: all 0.5s ease;
            max-width: 250px;
            margin: 16px auto;
            @media (max-width: 1600px) {
                border: solid 8px transparent;
                padding: 12px;
            }

            @media (max-width: 1200px) {}

            &:hover {
                border: solid 12px #F05123;

                @media (max-width: 1600px) {
                    border: solid 8px #F05123;
                    padding: 12px;
                }
            }
            .media-wrapper{
                background-color: transparent;
            }
            .card-article-info {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 95% !important;
                color: #F05123;
                text-transform: none;
                margin-bottom: 7px;
            }
            .price {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 95%;
                color: #F05123;
                margin-bottom: 20px;
                .price__sale{
                    display: none;
                    
                }
                dd{
                    margin: 0;
                }
                price-money+price-money::before {
                    content: '\2013';
                    margin-inline-end: 0.7rem;
                }
            }
            .media {
                padding: 0;
                height: 324px;
                margin-bottom: 30px;
                background-color: transparent;
                @media (max-width: 1600px) {
                    height: 234px;
                }
                img{
                    object-fit:cover;
                }
            }

            .card-information {
                min-height: calc(100% - 324px);
                padding-bottom: 40px;

                @media (max-width: 1600px) {
                    min-height: calc(100% - 234px);
                }
                .card-information__text {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 120% !important;
                    text-decoration: none;
                    display: block;
                    text-transform: uppercase;
                    color: #F05123;
                    margin-bottom: 7px;
                }
                .card-information__button {
                    left: 17px;
                    bottom: 17px;
                    position: absolute;
                    @media (max-width: 1600px) {
                        bottom: 12px;
                        left: 12px;
                    }
                    .button {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 16px;
                        line-height: 95%;
                        color: #FFFFFF !important;
                        background: #F05123;
                        border-radius: 8px;
                        padding: 10px 25px;
                        border: 1px solid #F05123;
                        min-width: auto;
                        text-transform: none;
                        letter-spacing: normal;

                        @media (max-width: 1200px) {
                            font-size: 14px;
                            padding: 10px 15px;
                        }

                        &:hover {
                            color: #F05123 !important;
                        }
                    }

                }

                .button--soldout {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 95%;
                    color: #F05123;
                    border: 1px solid #F05123;
                    border-radius: 8px;
                    padding: 11px 25px;
                    text-transform: none;
                    letter-spacing: normal;
                    background-color: white !important;
                    min-width: auto;
                    opacity: 1;
                    position: absolute;
                    bottom: 17px;
                    left: 17px;

                    @media (max-width: 1600px) {
                        bottom: 12px;
                        left: 12px;
                    }

                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                }
            }

            .rating {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 95%;
                color: #F05123;
                margin-bottom: 20px;
            }

            .rating-star {
                --letter-spacing: 0.3;
                --font-size: 1.5;
                --percent: calc((var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))) * 100%);
                letter-spacing: calc(var(--letter-spacing) * 1rem);
                font-size: calc(var(--font-size) * 1rem);
                line-height: 1;
                display: inline-block;
                font-family: Times;
                margin: 0;
            }

            .rating-star::before {
                /* content: '\2605\2605\2605\2605\2605';
                background: linear-gradient(90deg, var(--color-reviews) var(--percent), rgba(var(--color-foreground), 0.15) var(--percent));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; */
            }

            .rating-text {
                display: none;
            }

            .rating-count {
                display: none;
                margin: 0;
            }

            @media (forced-colors: active) {
                .rating {
                    display: none;
                }

                .rating-text {
                    display: block;
                }
            }
        }
    }
    &__tag-share {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        .list-tag {
            list-style: none;
            margin: 0 -5px;
            padding: 0;
            .item-tag {
                display: inline-block;
                padding: 5px;
                a {
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    display: inline-block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 146%;
                    letter-spacing: 0;
                    color: #FFFFFF;
                    background: #F05123;
                    padding: 5px 20px;
                    border-radius: 8px;
                    &:after {
                        content: '';
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 120%;
                        height: 100%;
                        background-color: #FFC85E;
                        backface-visibility: hidden;
                        will-change: transform;
                        transform: rotate3d(0, 0, 1, 10deg) translate3d(-1.2em, 110%, 0);
                        transform-origin: 0% 100%;
                        transition: transform var(--duration-long) ease;
                    }
                    &:hover {
                        &:after {
                            transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
                        }
                    }
                }
            }
        }
        .social-sharing {
            margin: 0 -10px;
            li {
                display: inline-block;
                padding: 10px
            }
            &__link {
                color: #F05123;
                transition: color var(--duration-default) ease;
                .icon {
                    margin: 0;
                }
                &:hover {
                    color: #FFC85E;
                }
            }
            &__title {
                display: none;
            }
        }
    }
    @media(max-width: 767.98px) {
        &__tag-share {
            flex-direction: column;
            align-items: start;
        }
    }
}

.page-title-section {
    position: relative;
    background-color: #F05123;
    &.show-shape-divider {
        .page-title {
            &__shape-divider {
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                line-height: 0;
                height: 50px;
                overflow: hidden;
            }
            &__container {
                padding-bottom: 50px;
            }
            @media(max-width: 767.98px) {
                &__shape-divider {
                    height: 30px;
                }
                &__container {
                    padding-bottom: 30px;
                }
            }
            @media(max-width: 560px) {
                &__shape-divider {
                    height: 20px;
                }
                &__container {
                    padding-bottom: 20px;
                }
            }
        }
    }
    .page-title {
        &__container {
            width: var(--site-container-width);
            padding: 0;
            margin: 0 auto;
            max-width: calc(100% - 30px);
            overflow: hidden;
        }
        &__heading {
            font-weight: 400;
            font-size: 86px;
            line-height: 95%;
            letter-spacing: 0;
            text-align: center;
            color: #FFFFFF;
            margin: 0;
        }
        &__description {
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0;
            text-align: center;
            color: #FFFFFF;
            margin-top: 10px;
        }
    }
    @media(max-width: 1199.98px) {
        .page-title {
            &__heading {
                font-size: 64px;
            }
            &__description {
                font-size: 22px;
            }
        }
    }
    @media(max-width: 767.98px) {
        .page-title {
            &__heading {
                font-size: 54px;
            }
            &__description {
                font-size: 20px;
            }
        }
    }
    @media(max-width: 560px) {
        .page-title {
            &__heading {
                font-size: 46px;
            }
            &__description {
                font-size: 18px;
            }
        }
    }
}

.main-blog-section {
    position: relative;
    background-color: #FFFFFF;
    .main-blog {
        &__container {
            width: var(--site-container-width);
            padding: 0 0 55px;
            margin: 0 auto;
            max-width: calc(100% - 30px);
            overflow: hidden;
        }
        &__wrap {
            display: flex;
        }
        &__content {
            width: 65.5%;
        }
        &__sidebar {
            width: 34.5%;
            padding-left: 85px;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -17.5px -80px;
            .post-item-wrap {
                width: 50%;
                padding: 0 17.5px;
                margin-bottom: 80px;
            }
            @extend .__post_item_style;
        }
    }
    @media(max-width: 1199.98px) {
        .main-blog {
            &__container {
                padding-bottom: 40px;
            }
            &__sidebar {
                padding-left: 35px;
            }
        }
    }
    @media(max-width: 991.98px) {
        .main-blog {
            &__container {
                padding-bottom: 30px;
            }
            &__wrap {
                flex-direction: column;
            }
            &__content {
                width: 100%;
            }
            &__sidebar {
                width: 100%;
                padding-top: 80px;
                padding-left: 0;
            }
        }
    }
    @media(max-width: 767.98px) {
        .main-blog {
            &__container {
                padding-bottom: 20px;
            }
            &__list .post-item-wrap {
                width: 100%;
            }
        }
    }
    @media(max-width: 560px) {
        .main-blog {
            &__container {
                padding-bottom: 15px;
            }
        }
    }
}

.single-post-section {
    position: relative;
    background-color: #FFFFFF;
    .single-post {
        &__container {
            width: var(--site-container-width);
            padding: 0 0 67px;
            margin: 0 auto;
            max-width: calc(100% - 30px);
            overflow: hidden;
        }
        &__wrap {
            display: flex;
        }
        &__content {
            width: 65.5%;
        }
        &__sidebar {
            width: 34.5%;
            padding-left: 85px;
        }
    }
    @media(max-width: 1199.98px) {
        .single-post {
            &__container {
                padding-bottom: 40px;
            }
            &__sidebar {
                padding-left: 35px;
            }
        }
    }
    @media(max-width: 991.98px) {
        .single-post {
            &__container {
                padding-bottom: 35px;
            }
            &__wrap {
                flex-direction: column;
            }
            &__content {
                width: 100%;
            }
            &__sidebar {
                width: 100%;
                padding-top: 80px;
                padding-left: 0;
            }
        }
    }
    @media(max-width: 767.98px) {
        .single-post {
            &__container {
                padding-bottom: 25px;
            }
        }
    }
    @media(max-width: 560px) {
        .single-post {
            &__container {
                padding-bottom: 20px;
            }
        }
    }
}


.related-acticles-section {
    position: relative;
    background: #F05123;
    .related-acticles {
        &__decor-top {
            position: absolute;
            width: 100%;
            top: 0;
            line-height: 0;
            transform: translateY(-98%);
            -webkit-transform: translateY(-98%);
        }
        &__container {
            width: var(--site-container-width);
            padding: 0 0 55px;
            margin: 0 auto;
            max-width: calc(100% - 30px);
            overflow: hidden;
        }
        &__header {
            text-align: center;
            margin-bottom: 80px;
        }
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 95%;
            letter-spacing: 0;
            text-transform: uppercase;
            color: #FFC85E;
            margin: 0;
            
        }
        &__view-all {
            font-weight: 700;
            font-size: 24px;
            line-height: 95%;
            letter-spacing: 0;
            color: #FFFFFF;
            margin-top: 15px;
            a {
                color: inherit;
                text-decoration: none;
                background-color: transparent;
                background-image: linear-gradient(to top, rgb(var(--color-border)) 0px, rgb(var(--color-border)) 0px), linear-gradient(to top, transparent 0px, transparent 0px);
                background-repeat: no-repeat;
                background-position: right bottom, right bottom;
                background-size: 0% 0.1rem, 100% 0.1rem;
                transition-property: background-size;
                transition-timing-function: ease;
                transition-duration: var(--duration-default);
                &:hover {
                    background-position: left bottom, left bottom;
                    background-size: 100% 0.1rem, 100% 0.1rem;
                }
            }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -17.5px -80px;
            .post-item-wrap {
                width: 33.33%;
                padding: 0 17.5px;
                margin-bottom: 80px;
            }
            @extend .__post_item_style;
            .post-item {
                &__category {
                    color: #FFFFFF;
                }
                &__title {
                    color: #FFFFFF;
                    a:hover {
                        color: #FFC85E;
                    }
                }
                &__read {
                    .read-link-btn {
                        background: #FFC85E;
                        &:after {
                            background-color: #000000;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 1199.98px) {
        .related-acticles {
            &__container {
                padding-bottom: 40px;
            }
        }
    }
    @media(max-width: 991.98px) {
        .related-acticles {
            &__container {
                padding-bottom: 30px;
            }
            &__list .post-item-wrap {
                width: 50%;
            }
        }
    }
    @media(max-width: 767.98px) {
        .related-acticles {
            &__container {
                padding-bottom: 20px;
            }
            &__list .post-item-wrap {
                width: 100%;
            }
        }
    }
    @media(max-width: 560px) {
        .related-acticles {
            &__container {
                padding-bottom: 15px;
            }
        }
    }
}
