$footer-background-color: black !default;

.site-footer {
  background-color: $footer-background-color;
  padding-top: 80px;
  position: relative;

  .footer-decor-top {
    position: absolute;
    width: 100%;
    top: 0;
    line-height: 0;
    transform: translateY(-98%);
    -webkit-transform: translateY(-98%);
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;

    .footer-col {
      margin-bottom: 1.5em;
      padding-right: 15px;
      @media(max-width: 585px) {
        margin-bottom: 2em;
      }
      &.__type_membership-form {
        width: 33.33%;
      }

      &.__type_footer-brand-image {
        width: 33.33%;
        text-align: center;
      }

      &.__type_vertical-menu,
      &.__type_footer-socials {
        width: calc(33.33% / 3);

        h4 {
          font-family: 'Montserrat';
          font-weight: 700;
          font-size: 20px;
          line-height: 120%;
          color: #F05123;
          margin: 0 0 30px;

          &.__heading-empty {
            height: 32px;
            display: block;
            @media (max-width: 767px){
              margin: 0;
              height: 20px;
            }
          }
        }
      } 

      @media(max-width: 1024px) {
        width: 50% !important;

        &.__type_vertical-menu,
        &.__type_footer-socials {
          width: 33.33% !important;
        }
      }

      @media(max-width: 585px) {

        &.__type_membership-form,
        &.__type_footer-brand-image {
          width: 100% !important;
        }

        &.__type_vertical-menu,
        &.__type_footer-socials {
          width: 50% !important;
        }
      }
    }
  }

  &__copyright {
    padding: 25px 0 45px;
    @media (max-width: 767px){
      padding: 0px 0 30px;
    }
  }
}

.copyright-text__container {
  width: 365px;
  max-width: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  a {
    color: inherit;
    text-decoration: none;
  }
  p {
    
  }
}

.__type_footer-brand-image {
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-brand-image {
    max-width: 100%;

    img {
      max-width: 90%;
    }
  }
}