@import "~slick-carousel/slick/slick";

:root {
  --site-container-width: 1370px;
}

.site-container {
  width: var(--site-container-width);
  padding: 0;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}

.header-extra-tools__item.__search-form {
  width: 340px;
  max-width: 100%;

  form {
    width: 100%;
    position: relative;

    input[name=q] {
      width: 100%;
      border-radius: 8px;
      border: none;
      background: white;  
      padding: 1em;
    }

    input[type=submit] {
      display: none;
    }

    .__search-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      pointer-events: none;
    }
  }
}

.__mini-cart-icon {
  position: relative;

  .cart-link__bubble {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 10px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #FFC85E;
    color: white;
    font-family: 'Montserrat';
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }
}

.membership-register-form {

  .footer-heading-text {

    h4 {
      font-family: "Flavory Display";
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      color: #F05123;
      margin: 0
    }

    p {
      margin-top: 0;
    }
  }

  .__form-container {
    margin-top: 29px;

    .__field {

    }

    .__field__input {
      border: none;
      border-radius: 8px;
      background-color: white;
      width: 340px;
      padding: 1.5em;
    }

    .button {
      background-color: #F05123;
      color: white;
      font-size: 1.1em;
      font-weight: 800;
      padding: 15px 20px;
      border: none;
      white-space: nowrap;
      letter-spacing: 0;
      display: inherit;
      margin-top: 15px;
      border-radius: 8px;
      width: auto;
      min-width: auto;
      text-transform: initial;
      display: flex;

      svg {
        width: 24px;
        margin-left: 10px;

        path {
          transition: .4s ease;
          -webkit-transition: .4s ease;
        }
      }

      &:hover {
        color: black;

        svg {

          path {
            stroke: black;
          }
        }
      }
    }
  }
}

.footer-socials {

  .social-list {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style: none;
      margin-right: 1.5em;

      svg {
        height: 22px;
      }

      a {

        svg {

          path {
            transition: .4s ease;
            -webkit-transition: .4s ease;
          }
        }

        &:hover {

          svg {
            
            path {
              stroke: #F05123;
            }
          }
        }
      }
    }
  }
}

.menu-style-vertical {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 4px;

    a {
      color: white;
      font-size: 1em;
      text-decoration: none;
      border-bottom: solid 1px transparent;
      transition: .3s ease;
      -webkit-transition: .3s ease;

      &:hover {
        border-bottom-color: #F05123;
        color: #F05123;
      }
    }
  }
}