$menu-lvl1-color: #FFC85E !default;

ul.menu-style-inline {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    position: relative;
  }

  a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  
  ul.dropdown-child,
  ul.dropdown-grandchild {
    width: 280px;
    position: absolute;
    z-index: 9;
    background-color: white;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: .3s ease;
    -webkit-transition: .3s ease;

    li.menu-link {

      > a {
        padding: 10px 20px;
        display: inline-block;
        width: 100%;
      }
    }
  }

  ul.dropdown-child {
    top: 100%;
    left: 0;

    a {
      color: black;
    }
  }

  &.menu {
    display: flex;
    flex-wrap: wrap;

    > li.menu-link {
      margin-right: 1em;

      > a {
        color: $menu-lvl1-color;
        padding: 10px 4px;
        display: block;
      }
    }
  }

  li.menu-link {

    &:hover {

      ul.dropdown-child {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}