ul.menu-style-inline {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    position: relative;
  }

  a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 150%;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    display: flex;

    .menu-icon-arrow {
      display: flex;
      align-items: center;
      margin-left: 4px;
    }
  }
  
  ul.dropdown-child,
  ul.dropdown-grandchild {
    width: 210px;
    position: absolute;
    z-index: 9;
    background-color: white;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px 0 rgb(1 1 1 / 10%);
    border-radius: 1px;
    transition: .1s ease;
    -webkit-transition: .1s ease;

    li.menu-link {

      > a {
        padding: 14px 20px;
        display: inline-block;
        width: 100%;
        font-size: 0.8em;
        font-weight: 700;
      }

      &:not(:last-child) {
        border-bottom: solid 1px #f2f2f2;
      }

      &:hover {

        > a {
          background-color: black;
          color: white;
        }
      }
    }
  }

  ul.dropdown-child {
    top: 100%;
    left: 0;

    a {
      color: black;
    }
  }

  ul.dropdown-grandchild {
    top: 0;
    left: 100%;
  }

  &.menu {
    display: flex;
    flex-wrap: wrap;

    > li.menu-link {
      margin-right: 20px;

      > a {
        color: #FFFFFF;
        padding: 10px 4px;
      }
    }
  }

  li.menu-link {

    &:hover {

      > ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

ul.menu-style-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  > li.menu-link:first-child {
    border-top: none;
  }
  ul.dropdown-child {
    display: none;
    list-style: none;
    margin: 0;
    padding: 15px 0 0;
    li.menu-link {
      &:last-child {
        padding-bottom: 0;
      }
      a {
        padding-left: 15px;
      }
    }
  }
  li.menu-link {
    position: relative;
    border-top: 1px solid #FFFFFF;
    a {
      display: block;
      font-weight: 800;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.02em;
      text-decoration: none;
      color: #FFFFFF;
      padding: 15px 0;
    }
    .menu-icon-arrow {
      position: absolute;
      top: 15px;
      right: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      cursor: pointer;
      transition: transform var(--duration-default) ease;
      &.open {
        transform: rotate(180deg);
      }
    }
  }
}